<!DOCTYPE html>
<html>
<head>
  <title>Welcome to the portfolio of Thai Tran</title>
  <link href="/stylesheets/thaitran.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/stylesheets/thaitran.js" type="text/javascript"></script>
  <meta content="authenticity_token" name="csrf-param" />
<meta content="oWoNvyZQgHjfssvrVFvwu2n63xiBbXB7j+/7po3JS5Q=" name="csrf-token" />
  <link href='http://fonts.googleapis.com/css?family=Jura:300,500' rel='stylesheet' type='text/css'>
	
</head>
<body>
  <header id="top_bar">
		<ul class="nav clearfix">
			<li class="active"><a href="/">Home</a></li>
			<li class=""><a href="/about">About</a></li>
			<li class=""><a href="/projects">Portfolio</a></li>
			<li class=""><a href="/contact">Contact</a></li>			
		</ul>
	</header>

  	
	<div class="wrapper" style="top: 0px;">
		<section id="home_intro">
			<div class="lettering_container clearfix">			  
				<h3 id="name" style="font-size: 80px;">Hello! <span>I'm Thai Tran</span></h3>
				<div class="desc" style="margin: 0 auto 0px">
					<h4><span>a Javascript developer</span> <span class="address">from VietNam</span></h4>
				</div><!--desc-->
			</div><!--lettering-container-->
		</section>
		
		<section id="content" style="margin: 0px">
			<!--<p class="sub_heading">
				I'm web developer with 10+ years experience in Javascript. <br/>
				Main skills: .NET MVC, Javascript, CSS, HTML, AngularJs, Bootstrap, NodeJs.<br/>
				Don't hesitate to contact me if you are looking for an creative and dedicated programmer. 
			</p>-->
			<div class="links">
				<a href="/projects">View Portfolio</a>
				<span class="or">or</span>
				<a href="/contact">Drop Me a line</a>
			</div><!--links-->
		</section>
	</div><!--wrapper-->
	


  <footer id="bottom_bar">
     <div class="footer_container">
       <p>Copyright 2015. All Rights Reserved.Built using <span>NodeJs</span>.
         Check out the code on <a href="https://github.com/thaiwhere">Github</a></p>
     </div><!--footer_container-->
  </footer>
</body>
</html>
